 table,
 th,
 td {
     border: 0px solid #ff0000;
 }
 
 th,
 td {
     padding: 5px;
 }
 
 .inputLine {
     background: transparent;
     border: none;
     border-bottom: 2px solid #ff0000;
 }
 
 body {
     background-color: aquamarine;
 }